[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "enet"]
	path = enet
	url = https://github.com/lsalzman/enet.git
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
